smartjobautomation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        -16
      ],
      "id": "23878404-0e9f-4bbf-9a1b-7d4f6138e9d8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/in/search/1?app_id=59597837&app_key=820de00bbbc8ca091b3a416fe56d55fc&what=ai+data+analyst&results_per_page=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        -16
      ],
      "id": "40efc5b2-1c56-4afc-8fba-cb5f488678c2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a job filter assistant.\n\nIf the job is related to data, analytics, AI, Python, SQL, or any tech role, return YES.\nBe lenient. Prefer YES unless completely unrelated.\n\nJob Title: {{ $json.results[0].title }}\nCompany: {{ $json.results[0].company.display_name }}\nDescription: {{ $json.results[0].description }}\n\nReply ONLY:\nYES or NO\nReason: short reason"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -144,
        -16
      ],
      "id": "0dcb872c-e426-4e94-8240-d19bb7e56606",
      "name": "Prompt generation",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "xYzrnjQv5D0pjpfI",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "462c70a4-2a53-4136-af22-829a979b6890",
              "leftValue": "={{$json[\"output\"][0][\"content\"][0][\"text\"].toLowerCase()}}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        -16
      ],
      "id": "6ef80bb0-6713-43b0-b823-8a051a64e53f",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "ashwinipanicker115@gmail.com",
        "subject": "New Job Update",
        "message": "=<h2 style=\"color:#2E86C1;\">🚀 Top Job Matches</h2>\n<hr>\n\n{{$input.all().map(item => `\n<div style=\"margin-bottom:15px;\">\n<b>💼 ${$('HTTP Request').item.json.results[0].title}</b><br>\n🏢 ${$('HTTP Request').item.json.results[0].company.display_name}<br>\n<a href=\"${$('HTTP Request').item.json.results[1].redirect_url}\">🔗 Apply Here</a>\n</div>\n<br>\n\n<b>💼 ${$('HTTP Request').item.json.results[1].title}</b><br>\n🏢 ${$('HTTP Request').item.json.results[1].company.display_name}<br>\n<a href=\"${$('HTTP Request').item.json.results[2].redirect_url}\">🔗 Apply Here</a>\n</div>\n<br>\n <br>\n<b>💼 ${$('HTTP Request').item.json.results[2].title}</b><br>\n🏢 ${$('HTTP Request').item.json.results[2].company.display_name}<br>\n<a href=\"${$('HTTP Request').item.json.results[3].redirect_url}\">🔗 Apply Here</a>\n</div>\n\n`).join(\"\")}}\n\n\n\n<hr>\n\n<p style=\"color:gray; font-size:12px;\">\nAI Job Tracker 🤖\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        -32
      ],
      "id": "08da11c7-c455-41f5-90b4-3f74f520d5f0",
      "name": "Send a message",
      "webhookId": "0394bdbf-0b76-496d-ad7c-2a861775080f",
      "credentials": {
        "gmailOAuth2": {
          "id": "Z2436l8iB9sMJNRC",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        -32
      ],
      "id": "d2ab1a55-0f08-4b4f-91cf-2d0b9278b26e",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Prompt generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt generation": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1c9dc9b4-d913-4688-86f6-3fc2633524e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdec02add9c3279024545612d1a773410ca7012fb04fad2cb16f879d59c4b8fb"
  },
  "id": "gy04DUetK6t0mkE3",
  "tags": []
}